.email_top {
  font-size: medium;
  padding-left: 13px;
  color: grey;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
}

.email-list {
  background-color: whitesmoke;
}

.emailtop {
  font-size: smaller;
  padding-left: 13px;
  color: grey;
}

.mail {
  margin: 15px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.24);
  height: 100vh;
}

.emailtop {
  font-size: smaller;
  padding-left: 13px;
  color: grey;
}

.mat-icon {
  font-size: x-large;
}

.txt {
  margin-top: 5px;
  padding: 10px;
}
