<div class="email-list">
  <div class="email_top" fxLayout="row">
    <div class="left" fxLayoutGap="15px" fxLayoutAlign="start center" fxFlex>
      <mat-checkbox></mat-checkbox>
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div class="right" fxLayoutAlign="center center">
      <mat-paginator
        fxHide.xs
        [length]="EmailList.length"
        pageSize="10"
        (page)="getPaginatorData($event)"
        [hidePageSize]="true"
      >
      </mat-paginator>
    </div>
  </div>

  <div class="email_list_body">
    <mat-tab-group>
      <mat-tab class="primary">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">inbox</mat-icon>
          Primary
        </ng-template>

        <app-email-row
          *ngFor="
            let option of EmailList
              | slice: lowValue:highValue
              | filter: message
          "
          [email]="option"
        ></app-email-row>
      </mat-tab>

      <mat-tab class="social">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">people</mat-icon>
          Social
        </ng-template>
        Content 2
      </mat-tab>

      <mat-tab class="promotion">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">local_offer</mat-icon>
          Promotion
        </ng-template>

        Content 3
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
